.grid-container {
    display: grid;
    grid-template-columns: auto;
}



header {
    background-color: #FF9ABC;
    padding: 20px 20px;
  
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold; 
    color: white;
    text-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    text-align: left;


  }
  
  h2 {
    font-size: 36px;
    font-weight: 500;
    text-decoration: underline solid #FFC0D5;
    text-align: left;

  }
  
  h3 {
    color:white;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    font-size: 24px;

  }
  
  section {
    padding: 0 20px;
  }

  .featured-video {
      display: none;
  }
  
  .video-section {
    background-color: white;
  }

  .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
  }

  .video {
      margin-bottom: 2em;
      display: inline;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  iframe {
      height: 150px;
      width: 250px;
      display:block;
      margin: auto;
  }





  @media screen and (min-width: 1200px) {
    h1 {
        font-size: 100px;
        text-shadow: 0 15px 4px rgba(0, 0, 0, 0.25);

    }

    h2 {
        font-size:46px;
    }
    h3 {
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 44px;
    }

    .grid-container {
        grid-template-columns: 55% 45%;
        grid-template-rows: auto auto;
    }


    header {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        padding: 100px;
    }

    .featured-video {
        display: flex;
        flex-flow: row wrap;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        background: black;
        padding: 75px 20px;


    }

    .featured-video .video {
        margin: 0;
    }


    .featured-text {
        color: white;
        width: 40%;
        display: inline;
        padding-right: 50px;
    }

    .featured-text h4 {
        font-size: 24px;
    }

    .video-section {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

    };
}